<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447827613395-f9kj8fm7f96t0d07o866oq5ffopioujg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447827613395-f9kj8fm7f96t0d07o866oq5ffopioujg</string>
	<key>API_KEY</key>
	<string>AIzaSyBwIFKY41ZxkElg1YUdNyRChPZOgHfRyYM</string>
	<key>GCM_SENDER_ID</key>
	<string>447827613395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.webmadness.surpriseMe</string>
	<key>PROJECT_ID</key>
	<string>surprise-me-b2fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>surprise-me-b2fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447827613395:ios:befd0278e4d78ace366626</string>
</dict>
</plist>